[submodule "vendors/openbb"]
	path = vendors/openbb
	url = git@github.com:OpenBB-finance/OpenBB.git
[submodule "vendors/trading-agents"]
	path = vendors/trading-agents
	url = git@github.com:TauricResearch/TradingAgents.git
[submodule "vendors/trendradar"]
	path = vendors/trendradar
	url = git@github.com:sansan0/TrendRadar.git
[submodule "vendors/openclaw"]
	path = vendors/openclaw
	url = git@github.com:openclaw/openclaw.git
